{
    "applicationName": "Applaya",
    "applicationSafeName": "applaya",

    "aws_bucket":"xxx",
    "AWSAccessKeyId":"xxx",
    "AWSSecretAccessKey":"xxx",
    "AWSRegion":"xxx",

    "maxUploadSize": "4194304",

    "conekta_private_sandbox":"xxx",
    "conekta_private":"xxx",

    "email_from": "Name <email@domain.com>",

    "kadira": {
      "appId": "xxx",
      "appSecret": "xxx"
    },

    "public": {
      "conekta_public_sandbox":"xxx",
      "conekta_public":"xxx",
      "dateFormat":"DD-MM-YYYY HH:mm",
      "applicationDeadline":"19-09-2015 00:00",
      "applicationExtension":"19-11-2016 00:00"
    }
}