// ******************************************************

@import 'nib'
// https://tj.github.io/nib/
// but I want Kouto Swiss :[

@import 'fonts-material'

// ******************************************************

global-reset()

// ******************************************************

// GRID

$gutter = 18px

.row
  clearfix()

.fluid-col
  float: left
  box-sizing: border-box
  padding-left: $gutter
  padding-right: $gutter

$pcols = 12

for pcol in 1..$pcols
  .s-into-{pcol}
    width: ( 100% / pcol )

for pcol in 1..$pcols
  .s-{pcol}
    width: ( 100% / $pcols ) * pcol

@media screen and (min-width: 601px)

  for pcol in 1..$pcols
    .m-into-{pcol}
      width: ( 100% / pcol )

  for pcol in 1..$pcols
    .m-{pcol}
      width: ( 100% / $pcols ) * pcol

@media screen and (min-width: 993px)

  for pcol in 1..$pcols
    .l-into-{pcol}
      width: ( 100% / pcol )

  for pcol in 1..$pcols
    .l-{pcol}
      width: ( 100% / $pcols ) * pcol

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / 3.5)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 19px
$font-size-smaller = 0.8rem
$font-size-larger = 1.3rem

$font-size-h4 = 1.25rem
$font-size-h3 = 1.5rem
$font-size-h2 = 1.75rem
$font-size-h1 = 2rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$input-height = 2.5em
$input-disabled-opacity = 0.5

$color-black-soft = rgb(0, 0, 0)
$color-white-soft = rgb(251, 251, 251)
$color-white-bright = rgb(255, 255, 255)

// MAF COLORS
$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-yellow = rgb(255, 217, 35)
$color-green = rgb(0, 152, 112)
$color-pink = rgb(255, 123, 172)

$color-sidebar = $color-yellow
$color-alt-1 = $color-yellow
$color-compliment-1 = $color-black
$color-compliment-2 = $color-pink

$color-error = $color-pink

$color-button-disabled = lightgray

// ******************************************************

// TYPOGRAPHY

$font-sans = 'Akkurat Pro'
$font-serif = 'Stanley'

html
  font-family: $font-sans,'Helvetica',sans-serif
  font-weight: normal
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, h2, h3, h4
  font-family: $font-serif,'Georgia',serif
  font-weight: bold
  margin-bottom: 1rem

h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter
  font-weight: 900

h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter

h3
  font-size: $font-size-h3

p
  margin-bottom: 1rem

  // FONT RULES

.font-serif
  font-family: $font-serif,'Georgia',serif

.font-italic, em, i
  font-style: italic

.font-bold, strong, b
  font-weight: bold

.font-small-caps
  font-size: 0.8rem
  text-transform: uppercase

.font-capitalize
  text-transform: capitalize

.font-smaller
  font-size: $font-size-smaller

  // TEXT RULES

.text-overflow-ellipsis
  overflow: ellipsis

.text-align-left
  text-align: left

.text-align-right
  text-align: right

.text-align-center
  text-align: center

  // LINKS

a,
a:hover,
a:active,
a:visited
  color: unset
  text-decoration: none

// ******************************************************

// COLORS

.background-color-sidebar
  background-color: $color-sidebar

.background-color-compliment1
  background-color: $color-compliment-1

.background-color-compliment2
  background-color: $color-compliment-2

.font-color-white
  color: $color-white-bright


// ******************************************************

// UTILITY

.u-inline-block
  display: inline-block

.u-inline-list
  display: inline-block
  li
    display: inline-block


// ******************************************************

// BASIC

html, body
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

// to hide conekta iframe
body
  iframe:first-of-type
    position: absolute

// ******************************************************

// MARGINS AND PADDING

.margin-micro
  margin: $margin-micro

.margin-tiny
  margin: $margin-tiny

.margin-small
  margin: $margin-small

.margin-basic
  margin: $margin-basic

.margin-mid
  margin: $margin-mid

.margin-large
  margin: $margin-large

.padding-micro
  padding: $margin-micro

.padding-tiny
  padding: $margin-tiny

.padding-small
  padding: $margin-small

.padding-basic
  padding: $margin-basic

.padding-mid
  padding: $margin-mid

.padding-large
  padding: $margin-large

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// MAIN LAYOUT

.container
  width: 95%
  max-width: 1400px
  min-width: 360px
  margin-left: auto
  margin-right: auto

#main-content
  min-height: 80vh

// ******************************************************

// HEADER

#header
  h1
    font-size: 1rem

#main-menu
  li
    margin-left: $margin-tiny

// ******************************************************

// COPY

p
  max-width: 700px

// LISTS

ul
  margin-bottom: 1rem
  &.u-inline-list
    margin-bottom: 0

// ******************************************************

// FORMS

button()
  background-color: $color-compliment-2
  color: $color-white-bright !important
  border-width: 1px
  border-style: solid
  border-color: $color-white-soft
  display: inline-block
  font-size: 1rem
  line-height: 1.4rem
  padding: $margin-tiny $margin-small
  margin-bottom: $margin-tiny
  border-radius: 3px
  cursor: pointer

.field
  margin-bottom: $margin-basic

form
  section
    margin-bottom: $margin-basic
    clearfix()
  canvas
    border: 1px solid $color-black-soft
    border-radius: 3px

label
  display: block
  padding-left: $margin-small
  margin-bottom: $margin-tiny

input, select, textarea
  appearance: none
  position: relative
  width: 100%
  height: $input-height
  padding: 0 ( $input-height / 4 )
  background-color: $color-white-bright
  border: 1px solid $color-black-soft
  box-sizing: border-box
  font-size: 1rem
  border-radius: 3px
  &:focus
    outline: none !important
    border-color: $color-compliment-1

input[type=checkbox], input[type=radio]
  display: block
  width: $input-height
  height: $input-height
  padding: 0
  float: left
  margin-right: $margin-small
  &:checked:after
    content: "\2713"
    position: absolute
    top: ( $input-height / 8 )
    width: 100%
    height: 100%
    text-align: center
    font-size: ( $input-height / 1.75 )
  & ~ label
    float: left
    width: 65%

input[type=radio]
  border-radius: $input-height

input[type=submit]
  button()
  width: auto
  height: auto

select
  appearance: menulist

textarea
  min-height: $input-height * 3
  padding: ( $input-height / 4 )
  max-width: 100%

section[name=signature] canvas
  background-color: $color-white-bright
  border: 1px solid $color-black-soft
  border-radius: 3px

.buttons
  display: block
  a
    button()

button, .button
  button()

button:disabled
  background-color: $color-button-disabled

.upload-container
  input[type=file]:disabled ~ .buttons
    pointer-events: none
    opacity: $input-disabled-opacity

// REPEATED ARTIST FIELDS

.apply-section-artists
  input
    margin-bottom: $margin-small
  section
    margin-bottom: $margin-tiny
    &.list-item
      margin-bottom: $margin-basic


.list-item
  position: relative
  padding: $margin-small
  border: 1px dashed $color-black
  margin-bottom: $margin-basic
  ul
    margin-top: $margin-small

.list-item-remove-holder
  position: absolute
  top: -12px
  right: -8px
  .list-item-remove
    button()
    padding: $margin-micro $margin-tiny
    background-color: $color-compliment-1
    font-size: .8rem
    width: 1rem
    border-radius: 1.5rem
    text-align: center

// ******************************************************

// FORM ERRORS

formError()
  padding: $margin-tiny $margin-small
  background-color: $color-error
  margin-bottom: $margin-tiny
  color: $color-white-bright

.accounts-ui
  .message
    formError()
    margin-top: $margin-small

.apply-section,
.payment-section
  .errors
    li
      formError()

// ******************************************************

// SINGLE APPLICATION

.single-application-section
  margin-top: $margin-mid
  padding-top: $margin-mid
  border-top: 1px dashed $color-black

.single-application-artist-work
  margin-top: $margin-small

.single-application-artist-work-image
  max-height: 40vh
  margin: $margin-small auto

// ******************************************************

// ADMIN

table
  width: 100%
  margin-bottom: $margin-basic

thead
  font-style: italic

.table-applications-title
  width: 25%

.table-applications-status
  width: 12.5%

.table-applications-actions
  width: 62.5%

// ******************************************************

// MAF STYLES

#header, #footer
  background-image: url('/images/background.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center 0

#footer
  background-position: center bottom


// ******************************************************

// MEDIA QUERIES

// @media screen and (max-width: ($col * $cols)+($gutter * $cols))

// @media screen and (max-width: 601px)
