// ******************************************************

@import 'nib'
// https://tj.github.io/nib/
// but I want Kouto Swiss :[

// ******************************************************

global-reset()

// ******************************************************

// VARIABLES

$input-height = 2.5em
$input-disabled-opacity = 0.5

$color-black-soft = rgb(0, 0, 0)
$color-white-soft = rgb(251, 251, 251)
$color-white-bright = rgb(255, 255, 255)

// MAF COLORS
$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-yellow = rgb(255, 217, 35)
$color-green = rgb(0, 152, 112)
$color-pink = rgb(255, 123, 172)

$color-sidebar = $color-yellow
$color-alt-1 = $color-yellow
$color-compliment-1 = $color-black
$color-compliment-2 = $color-pink

$color-error = $color-pink

$color-button-disabled = lightgray

// ******************************************************

@import 'type'

@import 'grid'

// ******************************************************

// COLORS

.background-color-sidebar
  background-color: $color-sidebar

.background-color-compliment1
  background-color: $color-compliment-1

.background-color-compliment2
  background-color: $color-compliment-2

.font-color-white
  color: $color-white-bright

// ******************************************************

// UTILITY

.u-inline-block
  display: inline-block

.u-inline-list
  display: inline-block
  li
    display: inline-block

// ******************************************************

// BASIC

html, body
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

// to hide conekta iframe
body
  iframe:first-of-type
    position: absolute

// ******************************************************

// MAIN LAYOUT

#main-content
  min-height: 80vh

// ******************************************************

// HEADER

#header
  h1
    font-size: 1rem

#main-menu
  li
    margin-left: $margin-tiny

// ******************************************************

// COPY

p
  max-width: 700px

// LISTS

ul
  margin-bottom: 1rem
  &.u-inline-list
    margin-bottom: 0

// ******************************************************

// FORMS

button()
  background-color: $color-compliment-2
  color: $color-white-bright !important
  border-width: 1px
  border-style: solid
  border-color: $color-white-soft
  display: inline-block
  font-size: 1rem
  line-height: 1.4rem
  padding: $margin-tiny $margin-small
  margin-bottom: $margin-tiny
  border-radius: 3px
  cursor: pointer
  &.button-small
    padding: $margin-micro $margin-tiny
    font-size: .8rem

.field
  margin-bottom: $margin-basic

form
  section
    margin-bottom: $margin-basic
    clearfix()
  canvas
    border: 1px solid $color-black-soft
    border-radius: 3px

label
  display: block
  padding-left: $margin-small
  margin-bottom: $margin-tiny

input, select, textarea
  appearance: none
  position: relative
  width: 100%
  height: $input-height
  padding: 0 ( $input-height / 4 )
  background-color: $color-white-bright
  border: 1px solid $color-black-soft
  box-sizing: border-box
  font-size: 1rem
  border-radius: 3px
  &:focus
    outline: none !important
    border-color: $color-compliment-1

input[type=checkbox], input[type=radio]
  display: block
  width: $input-height
  height: $input-height
  padding: 0
  float: left
  margin-right: $margin-small
  &:checked:after
    content: "\2713"
    position: absolute
    top: ( $input-height / 8 )
    width: 100%
    height: 100%
    text-align: center
    font-size: ( $input-height / 1.75 )
  & ~ label
    float: left
    width: 65%

input[type=radio]
  border-radius: $input-height

input[type=submit]
  button()
  width: auto
  height: auto

select
  appearance: menulist

textarea
  min-height: $input-height * 3
  padding: ( $input-height / 4 )
  max-width: 100%

section[name=signature] canvas
  background-color: $color-white-bright
  border: 1px solid $color-black-soft
  border-radius: 3px

.buttons
  display: block
  a
    button()

button, .button
  button()

button:disabled
  background-color: $color-button-disabled

.upload-container
  input[type=file]:disabled ~ .buttons
    pointer-events: none
    opacity: $input-disabled-opacity

// REPEATED ARTIST FIELDS

.apply-section-artists
  input
    margin-bottom: $margin-small
  section
    margin-bottom: $margin-tiny
    &.list-item
      margin-bottom: $margin-basic


.list-item
  position: relative
  padding: $margin-small
  border: 1px dashed $color-black
  margin-bottom: $margin-basic
  ul
    margin-top: $margin-small

.list-item-remove-holder
  position: absolute
  top: -12px
  right: -8px
  .list-item-remove
    button()
    padding: $margin-micro $margin-tiny
    background-color: $color-compliment-1
    font-size: .8rem
    width: 1rem
    border-radius: 1.5rem
    text-align: center

// ******************************************************

// ALERTS 
  
.s-alert-success
  background-color: $color-green

// FORM ERRORS

formError()
  padding: $margin-tiny $margin-small
  background-color: $color-error
  margin-bottom: $margin-tiny
  color: $color-white-bright

.accounts-ui
  .message
    formError()
    margin-top: $margin-small

.apply-section,
.payment-section
  .errors
    li
      formError()

// ******************************************************

// SINGLE APPLICATION

.single-application-section, #comments-section
  margin-top: $margin-mid
  padding-top: $margin-mid
  border-top: 1px dashed $color-black

.single-application-artist-work
  margin-top: $margin-small

.single-application-artist-work-image
  max-height: 40vh
  margin: $margin-small auto

// ******************************************************

// ADMIN

table
  width: 100%
  margin-bottom: $margin-basic
  button 
    margin: 0
    margin-right: $margin-micro 
    &:last-of-type 
      margin-right: 0
td
  padding: $margin-tiny
  border-right: 1px solid $color-white
  &:last-of-type 
    border-right: 0

thead
  background-color: $color-black
  color: $color-white
  td 
    &:first-of-type
      border-radius: 3px 0 0 0 
    &:last-of-type
      border-radius: 0 3px 0 0

tbody
  tr
    &:nth-of-type(odd)
      background-color: $color-white
      td
        border-right-color: $color-white-soft

// ADMIN ANALYTICS
.stat-bar
  overflow: hidden
  background: $color-pink

.stats-in-progress
  background: $color-yellow

.stats-complete
  background: $color-alt-1

.stats-submitted
  background: $color-green

// COMMITTEE RATINGS
.rating-buttons
  button
    transition: opacity 150ms
    opacity: 0.3

    &:focus
      outline: none
      border: 1px solid $color-green

    &.active
      opacity: 1


  &.clean
    button
      opacity: 1
      
// COMMITTEE COMMENTS 

.comment-item 
  padding: $margin-small 0
  border-bottom: 1px dashed #000
  &:last-of-type
    border-bottom: none

// ******************************************************

// MAF STYLES

#header, #footer
  background-image: url('/images/background.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center 0

#footer
  background-position: center bottom

// ******************************************************

grid(95%, 18px, s)

space-maker(6px, 9px, 18px, 36px, 50px, 72px)

font-sizes(19px, 36px, 30px, 24px, 16px, 12px, 9px)

// MEDIA QUERIES

@media screen and (min-width: 600px)

  grid(580px, 18px, m)
  
  space-maker(6px, 9px, 18px, 36px, 50px, 72px)
  
@media screen and (min-width: 900px)

  grid(880px, 18px, l)
  
  space-maker(6px, 9px, 18px, 36px, 50px, 72px)
  